{% extends 'base.html' %}

{% block title %}Salon{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  {{ user.username }}, şu an tuvalettesin!
  {% for item in items %}
    <p>{{ item.type }} - {{ item.name }}</p>
  {% endfor %}
  <p><a href="{% url 'rooms:koridor' %}">koridora dön</a></p>
  <p><a href="{% url 'logout' %}">evden çık</a></p>
{% else %}
  <p>Giriş yapmamışsın. Kapıdasın</p>

  <a href="{% url 'login' %}">Log In</a>
  <br>
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock %}